{% load static %}
<footer>
    <div class="footer-container">
        <div class="footer-left">
            <h3>SIO Magistrum</h3>
            <p>La plateforme dédiée à la pratique pour les étudiants du BTS SIO</p>
        </div>
        <div class="footer-center">
            <h4>Navigation</h4>
            <a href="{% url 'home' %}">Accueil</a>
            {% if request.user.is_authenticated %}
                {% if request.user.professeur %}
                    <a href="{% url 'dashboard:dashboard_prof' %}">Dashboard</a>
                    <a href="#">Vos Exercices</a>
                    <a href="#">Vos Classes</a>
                    <a href="#">Votre Parcours d'entrainement</a>
                    <a href="#">Vos Approfondissements</a>
                {% else %}
                    <a href="#">Dashboard</a>
                    <a href="#">Vos cours suivies</a>
                    <a href="#">Vos approfondissements suivis</a>
                {% endif %}
                <a href="{% url 'logout' %}" class="logout-link" title="Se déconnecter">Déconnexion</a>
            {% endif %}
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 SIO Magistrum - Tous droits réservés</p>
    </div>
</footer>