{% load static %}
<header>
    <div class="header-left">
        <h1>SIO Magistrum</h1>
        <p class="subtitle">La plateforme dédiée à la pratique pour les étudiants du BTS SIO</p>
    </div>
    <div class="header-center">
        <img src="{% static 'home/ASSETS/SIOLOGO.png' %}" alt="Logo SIO" class="logo">
    </div>
    <nav class="header-right">
        <div class="nav-links">
            <a href="{% url 'home' %}">Accueil</a>
            {% if request.user.is_authenticated %}
                {% if request.user.professeur %}
                    <a href="{% url 'dashboard:dashboard_prof' %}">Dashboard</a>
                    <a href="#">Vos Exercices</a>
                    <a href="#">Vos Classes</a>
                    <a href="#">Votre Parcours d'entrainement</a>
                    <a href="#">Vos Approfondissements</a>
                {% else %}
                    <a href="#">Dashboard</a>
                    <a href="#">Vos cours suivies</a>
                    <a href="#">Vos approfondissements suivis</a>
                {% endif %}
            {% endif %}
        </div>
        <section class="login-card">
            <div class="login-image">
                <img src="{% if request.user.is_authenticated %}
                    {% if request.user.eleve and request.user.eleve.photo %}
                        {{ request.user.eleve.photo.url }}
                    {% elif request.user.professeur and request.user.professeur.photo %}
                        {{ request.user.professeur.photo.url }}
                    {% else %}
                        {% static 'home/ASSETS/ACCOUNT.svg' %}
                    {% endif %}
                 {% else %}
                    {% static 'home/ASSETS/ACCOUNT.svg' %}
                 {% endif %}"  
                    alt="Compte" class="svg-icon">
            </div>
            <div class="login-info">
                {% if request.user.is_authenticated %}
                    <h3 class="login-name">
                        {% if request.user.eleve %}
                            {{ request.user.eleve.pseudo}}
                        {% elif request.user.professeur %}
                            {{request.user.professeur.pseudo}}
                        {% endif %}
                    </h3>
                    <p class="login-role">
                        {% if request.user.eleve %}
                            Élève
                        {% elif request.user.professeur %}
                            Professeur
                        {% endif %}
                    </p>
                {% else %}
                    <h3 class="login-name">Non connecté</h3>
                    <p class="login-role">Veuillez vous connecter</p>
                {% endif %}
            </div>
        </section>
    </nav>
</header>
