{% load static %}
<header>
    <div class="header-left">
        <h1>SIO Magistrum</h1>
        <p class="subtitle">La plateforme dédié à la pratique pour les étudiants du BTS SIO</p>
    </div>
    <div class="header-center">
        <img src="{% static 'home/ASSETS/SIOLOGO.png' %}" alt="Logo SIO" class="logo">
    </div>
    <nav class="header-right">
        <div class="nav-links">
            <a href="#">Accueil</a>
            <a href="#">Cours</a>
        </div>
        <section class="login-card">
            <div class="login-image">
                <img src="{% static 'home/ASSETS/ACCOUNT.svg' %}" alt="Compte" class="svg-icon">
            </div>
            <div class="login-info">
                <h3 class="login-name">Nom de compte</h3>
                <p class="login-role">Rôle de l'utilisateur</p>
            </div>
        </section>
    </nav>
</header>