<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>SIO Magistrum - Dashboard Professeur</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboards/CSS/dashboardprof.css' %}">
    <link rel="stylesheet" href="{% static 'partials/header.css' %}">
    <link rel="stylesheet" href="{% static 'partials/footer.css' %}">
</head>
<body>
    {% include 'partials/header.html' %}
    <main>
        <h1 class="title">
            Bienvenue M. {{request.user.professeur.nom}} sur le dashboard
        </h1>
        <sections class="Cours">
            <h2>Mes cours</h2>
            {% if cours %}
                <div class="liste-cours">
                    {% for c in cours %}
                        <div class="carte-cours">
                            <img src="{{c.banniere}}">
                            <img src="{{c.icon}}">
                            <h3>{{c.titre}}</h3>
                            <p>Matière : {{c.matiere.nom}}</p>
                            <p>Type : {{c.get_type_cours_display}}</p>
                            <p>Crée le : {{c.date_creation|date:"d/m/Y"}}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Vous n'avez pas encore crée de cours.</p>
            {% endif %}
        </sections>
    </main>
    {% include 'partials/footer.html' %}
</body>
</html>