<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Site d'E-Learning SIO - Accueil</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'home/index.css' %}">
        <link rel="stylesheet" href="{% static 'partials/header.css' %}">
    </head>
    <body>
        {% include 'partials/header.html' %}
        <main>
            <h1>Bienvenue sur le site de E-Learning SIO !</h1>
            <p>Une plateforme d’e-learning conçue par des élèves de BTS SIO, 
                dédiée à la mise en pratique et à l’accompagnement des étudiants du BTS SIO.
            </p>
        </main>
    </body>
</html>