/* En-tête Principal */
header {
    background-color: var(--primary);
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
    border-bottom: 6px solid var(--accent);
}

@media (max-width: 800px) {
    header {
        grid-template-columns: 1fr auto;
        grid-auto-rows: auto;
        grid-template-areas:
            "center center"
            "left right";
        padding: 12px;
    }
    .header-left {
        grid-area: left;
        order: 2;
    }
    .header-center {grid-area: center; order: 1; margin-bottom: 8px;}
    .header-right {grid-area: right; order: 3; justify-self: end;}
}

.header-left{
    min-width: 475px;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

header h1 {
    margin: 0;
    color: var(--text-dark);
    font-size: 2.2em;
}

.subtitle {
    margin: 3px 0 0 2px;
    color: var(--secondary);
    font-size: 1em;
    font-style: italic;
    opacity: 0.9;
}

header .logo {
    height: 90px;
}

/* Menu de Navigation */
.header-right {
    min-width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex: 1;
}

.header-right a {
    position: relative;
    color: var(--text-dark);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 6px 2px;
    transition: color 0.3s ease;
}

/* Ligne animée sous le lien */
.header-right a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 3px;
    background-color: var(--accent);
    transition: width 0.3s ease;
    border-radius: 2px;
}

.header-right a:hover {
    color: var(--accent);
}

.header-right a:hover::after {
    width: 100%
}

.login-card {
    width: 175px;
    height: 70px;
    margin: 0.8rem auto;
    background: var(--secondary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border-left: 5px solid var(--accent);
}

/* Image réduite */
.login-image img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.login-info {
    flex-grow: 1;
    min-width: 0;
}

.login-name {
    font-size: 0.95rem;
    font-weight: 600;
    margin-bottom: 2px;
    color: var(--primary);
}

.login-role {
    font-size: 0.8rem;
    opacity: 0.75;
    color: #000;
}